
// Variables
@import "variables";

.circle-shopping-cart{
    background-color: #232980;
    border-radius: 50%;
    padding: 1em 1em;
}

.products-container{
    .product{
        margin-top: 1em;
    }
}

.product-avatar{
    max-width: 100%;
}
.navbar{
    margin-bottom: 0px;
}

.no-margin{
    margin: 0px;
}

.top-space{
    margin-top: 1em;
}

.no-padding{
    padding: 0px;
}

.large-padding{
    padding:10px 15px ;
}

.big-padding{
    padding: 30px;
}

.no-transfrom{
    text-transform: none;
}

 .blue-grey{
    background-color: #c4c1e7;
} 

.white{
    background-color: white;
}

.white-text{
    color: white;
}

.red-text{
    color: rgb(200, 50, 50);
}

.inline-block{
    display: inline-block;
}

.table{
    background-color: white;
}

.abosolute{
    position: absolute;
}

.floating{
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index:100;
}

.product{
    width:600px;
    max-width:90%;
    padding:1em;
    position:relative;

    h1{
        padding-bottom:10px;
        border-bottom:solid 1px;
    }

    .actions{
        right:1em;
        top:10px;
    }
}

.sale-data{
    padding: 1em;
    text-align: center;
    border-right: solid 1px #222;
    span{
        display: block;
        font-size: 2.2em;
        color: #3f51b5;
    }
}
// Status Order

.creado{
    background-color: #09f343;
}

.highlight{
    -webkit-animation: highlight 1.5s;
    animation: highlight 1.5s;
}

@-webkit-keyframes highlight{
    50%{
        background-color: #ff3300;
        color:black;
    }
    100%{
        bockground-color:inherit;
        }
}

@keyframes highlight{
    50%{
        background-color: #ff3300;
        color: black;
    }
    100%{
        background-color: inherit;
    }
}